@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif, 'Times New Roman', Times, serif;
    background-color: aquamarine;
}

.title {
    display: block;
    text-align: center;
    margin: 1em;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    margin: 12px;
    gap: 6px;
    background-color: whitesmoke;
    border: 1px solid black;
    box-sizing: content-box;
    width: calc(100% - 26px);
    height: 240px;
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .card {
        width: calc(50% - 26px);
    }
}

@media only screen and (min-width: 992px) {
    .card {
        width: calc(33.33% - 26px);
    }
}

.cardTitleContainer {
    display: flex;
    flex-direction: row-reverse;
}

.cardTitle {
    padding: 6px 24px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.cardContent{
    margin: 6px 12px 24px 12px;
    overflow-y: scroll;
}

